@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Google";
    src: url("/assets/fonts/googlesans-regular.ttf") format("truetype");
}

@font-face {
    font-family: "Google-Bold";
    src: url("/assets/fonts/googlesans-bold.ttf") format("truetype");
}

@font-face {
    font-family: "Netron";
    src: url("/assets/fonts/Netron.ttf") format("truetype");
}

body {
    background: url("/assets/bg.svg");
    background-size: cover;
    font-family: google, sans-serif;
    color: white;
}